# Core ML & Unsloth
unsloth @ git+https://github.com/unslothai/unsloth.git
unsloth_zoo
torch

# Hugging Face ecosystem
transformers
datasets
peft
trl
accelerate

# For Hyperparameter Tuning (tune_sft.py)
optuna
optuna-dashboard


bitsandbytes
